{% extends 'oscar/dashboard/layout.html' %}

{% block content %}
    <h2>Display all purchases</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>User</th>
            <th>Product</th>
        </tr>
        </thead>
        {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.user.first_name }} {{ purchase.user.last_name }}</td>
            <td>{{ purchase.product.title }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
