{% extends 'oscar/dashboard/layout.html' %}

{% block content %}
    <h2>Reports</h2>
    <!-- <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Amount</th>
                <th>Product</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.purchase.product.title }}</td>
                <td>{{ payment.purchase.user.first_name }} {{ payment.purchase.user.last_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <!-- first try -->
    <!-- <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>User</th>
                <th>Product</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
            <tr>
                <td>{{ report.purchase__user__first_name }} {{ report.purchase__user__last_name }}</td>
                <td>{{ report.purchase__product__title }}</td>
                <td>{{ report.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <!-- second try -->
    {% for f in final %}
    <div class="card" style="width: 50rem; margin: 10px;">
        <div class="card-body">
          <h5 class="card-title">{{ f.user.first_name }} {{ f.user.last_name }}</h5>
          <p class="card-text">Purchase List</p>
          <ul class="list-group">
            {% for pur in f.purchase %}
            <li class="list-group-item text-info">{{ pur.purchase.product.title }}</li>
            <ul class="list-group">
                {% if pur.payment|length < 1 %}
                <li class="list-group-item text-danger">No payment history</li>
                {% endif %}
                {% for pay in pur.payment %}
                <li class="list-group-item">Paid {{ pay.amount }} BDT</li>
                {% endfor %}
            </ul>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
{% endblock %}
